.container{
    height: 797px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 로그인 영역 */
.login-area{
    display: flex;
    width: 612px;
    height: 332px;
    border: 1px solid black;
    flex-direction: column;
    border: 0;
    box-shadow: 2px 2px 5px rgba(69, 69, 69, 0.3);
    border-radius: 20px;
}

/* 로그인 글자 */
.login-area > p{
    font-size: 20px;
    font-weight: bold;
    color: #FF7400;
    margin-left: 33px;
    margin-top: 28px;
}

/* 그외 글자 */
.login-area *{
    font-size: 15px;
}

/* 아이디/비밀번호 입력 영역 */
.login-area .userInput{
    margin-top: 30px;
    margin-left: 35px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(139, 139, 139, 0.24);
    width: 88%;
}
   

/* 아이디/비밀번호 인풋창 */
.login-area > span > input{
    border: 0;
    padding-left: 30px;
}

.login-area > span > input:focus{
    outline: none;
}

/* 아이디 인풋창 */
.login-area #userId{
    margin-left: 13px;
}

/* 아이디저장 / 아이디비밀번호찾기 / 회원가입 영역*/
.login-area > span:nth-of-type(3){
    margin-top: 20px;
    margin-left: 35px;
}

/* 아이디/비밀번호 찾기 영역 */
.login-area > span>span:nth-of-type(2){
    margin-left: 220px;
}

/* 회원가입 영역 */
.login-area > span>span:nth-of-type(3){
    margin-left: 30px;
}

/* 로그인 버튼 */
.login-area > #LoginBtn{
    width : 298px;
    height: 44px;
    border: none;
    background-color: #FF9D42;
    border-radius: 5px;
    color: white;
    align-self: center;
    margin-top: 30px;
    box-shadow: 2px 2px 5px rgba(69, 69, 69, 0.3);
}

.login-area> #LoginBtn:hover{
    background-color: #FF7400;
    box-shadow: none;
}
