.container{
    height: 797px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 회원가입 영역 */
.signup-area{
    display: flex;
    width: 612px;
    height: 691px;
    border: 1px solid black;
    flex-direction: column;
    border: 0;
    box-shadow: 2px 2px 5px rgba(69, 69, 69, 0.3);
    border-radius: 20px;
}
/* 회원가입 글자 */
.signup-area > p{
    font-size: 20px;
    font-weight: bold;
    color: #FF7400;
    margin-left: 33px;
    margin-top: 28px;
}

/* 그외 글자 */
.signup-area *{
    font-size: 15px;
}


/* 정보 입력 영역 */
.signup-area .userInput{
    margin-top: 20px;
    margin-left: 35px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(139, 139, 139, 0.24);
    width: 88%;
}

/* 인풋창 */
.signup-area > span > input{
    border: 0;
    padding-left: 30px;
    width: 85%;
}

.signup-area > span > input:focus{
    outline: none;
}
