main{
    display: flex;
    width:1024px;

}
#diary-detail{
    width:1000px;
    margin-top: 80px;
}

#diary-detail>ul{
    display: flex;
    align-items: center;
    border-top:2px solid #ededed;
    border-bottom:2px solid #ededed;
}

#diary-detail>ul li{
    padding:10px;   
}

#diary-detail>ul>li:nth-child(4){
    margin-left:180px;
}


#diary-detail>ul>li>img{
    padding:0;
    width:50px;
    border-radius: 100%;
}

#boardLike{
    font-size: 1em;
    color: red;
    cursor: pointer;
}


.diaryInfo {
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #FBF6F0;
    border-radius: 10px;
}

.section {
    width: 48%;
}

.section-title {
    background-color: #FFA048;
    color: white;
    width:130px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.item {
    padding-left: 20px;
    margin-bottom: 10px;
}



.item-content {
    margin-left: 5px;
}

.diary-content{
    margin:20px;
    padding-bottom:80px;
    border-bottom:2px solid #ededed;
}

.diary-button{
    display: flex;
    justify-content: right;


}

.btn-medium__lorange{
    width:80px !important; 
    margin:5px;
    margin-right:20px;
}
