#side_menu{
   width:200px;
   margin-top:80px;
   margin-left:20px;
   
}
#side_menu>div{
    height:117px;
    justify-content: center;
    align-items: center;
    color:white;
}

.side_01>div:nth-child(1){
    height:80px;
    width:50%;
}
.side_01>div:nth-child(2){
    height:80px;
    width:50%;
	 background-color:#FF9843;
}

.side_01{
    widtH:200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
