
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

.MAP {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
}

.area {
  position: relative;
  overflow: hidden;
}
.search-area {
  width: 500px;
  height: 220px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 11; 
}
.custom-overlay {
  background-color: white;
  border: 2px solid #FFA500; /* 주황색 테두리 */
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  color: #333;
  z-index: 15;
}

.custom-overlay a {
  width: 500px;
  font-size: 16px;
  margin: 0 0 10px 0;
  text-decoration: none;
  color: #FFA500; /* 주황색 버튼 */
}

.custom-overlay p {
  font-size: 14px;
  margin: 5px 0;
}

.custom-overlay button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #FFA500; /* 주황색 버튼 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.custom-overlay button:hover {
  background-color: #e69500; /* 버튼 호버 시 색상 변화 */
}

.review-box {
  margin-top: 10px;
}

.review-box h4 {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: #333;
}

.review-content {
  max-height: 100px;
  overflow-y: auto;
}

.review-item {
  background-color: #f2f2f2;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 12px;
}

/* 검색창 감싸는 container */
.info-container {
  position: fixed;
  top: 19px;
  left: 121px; 
  z-index: 1000;
  width: 500px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 검색창 스타일 */
.info {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: white; 
  border-radius: 5px; 
  /* border: 1px solid #ccc;  */
}

.info input[type="text"] {
  flex: 1;
  height: 100%;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
  background-color: white;
}

.info button {
  width: 50px;
  height: 100%;
  border: none;
  cursor: pointer;
}

.info button i {
  color: white;
  font-size: 20px;
}

.info button:hover {
  background-color: #E68A00;
}

.map-container {
  width: 100%;
  height: calc(100vh - 40px); 
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
}

.review-item:last-child {
  border-bottom: none;
}

.scroll-container, #favorites-container {
  height: 700px; 
  overflow-y: auto; 
  padding: 10px; 
  box-sizing: border-box; 
  position: relative; 
  margin: auto;
}

.scroll-container, #favorites-container{
  position: fixed;
  z-index: 1000;
  width: 500px;
  max-height: 490px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto; 
}

.scroll-container::-webkit-scrollbar {
  width: 7px;
}
.scroll-container::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
.scroll-container::-webkit-scrollbar-thumb { 
  background-color: #FFAB5E; 
  border-radius: 20px;
}
.scroll-container::-webkit-scrollbar-button {
  display: none;
}

.place-item {
  padding: 10px;
  border-bottom: 1px solid #ccc; 
  margin-bottom: 10px; 
}

.place-item:last-child {
  border-bottom: none; 
}
.popup-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 170px;
  left: 20px;
  transform: translateY(-50%);
  border: 1px solid #ccc;
  overflow: hidden;
  z-index: 100;
}

#mainBtn{
  border-bottom: 1px solid #ccc;
  display: flex;
  background-color:white;
  border: none;
}

.popup-btn {
  padding: 10px;
  border: none;
  width: 100%;
  height: 100px;
  cursor: pointer;
  font-size: 14px;
  background-color:white;
}
.popup-btn {
  border-top: 1px solid #ddd;
}

.popup-btn i{
  font-size: 30px;
}

.popup-btn:hover {
  background-color: #FFA500 /* 마우스 오버 시 배경색 */
}

.popup-btn:active {
  background-color: #cc5200; /* 클릭 시 배경색 */
}

.icon {
  width: 100px;
  height: 100px;
  object-fit: contain; 
}


.popup-btn span {
  margin-top: 5px;
  font-size: 16px;
  color: #000;
}

header {
  position: fixed;
  top: 0;
  left: 200px;
  width: 100%;
  z-index: 1000;
  padding: 10px;
}

#favorites {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#favorites li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}


.remove-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: darkred;
}
