.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
}

/* 모달 내용 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 화면 중앙에 표시 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    height: 400px;
}

.btn-exsmall__lorange{
    width: 70px;
    height: 30px;
}


/* 모달 버튼 */
.modal-button{
    position: absolute;
    top: 10px;
}

#cancel-button {
    left: 10px; /* 왼쪽에 위치 */
    color: white;
    cursor: pointer;
    border: none;
}



#submit-button {
    right: 10px; /* 오른쪽에 위치 */

}

.modal-button:hover {
    opacity: 0.8;
}

/* 별점 스타일 */
.rating-stars {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.star {
    font-size: 3rem;
    color: #ddd;
    cursor: pointer;
    transition: color 0.3s;
}

.star.selected {
    color: #f5b301; /* 별 선택 시 색상 */
}

.star.hovered {
    color: #f7d16b; /* 호버 시 색상 */
}

/* 제출된 별점 결과 스타일 */
.submitted-rating {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
}
