.container-BMR{
    height: 1015px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.BMR-Area{
    height: 636px;
    width: 905px;
    border: 3px solid #FFDA77;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(69, 69, 69, 0.3);
    z-index: 3;
}
/* 상단 영역 */
.top{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tipBox{
    height: 86px;
    width: 652px;
    border: 4px solid #FFDA77;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(69, 69, 69, 0.3);
    background-color: #FBFBFB;
    text-align: center;
    padding-top: 12px;
}


/* 중간 영역 */
.mid{
    height: 50%;
    display: flex;
    flex-direction: column;
    
}

.mid-top{
    display: flex;
    margin-left: 50px;
    margin-top: 80px;
}

.mid-mid{
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
}

.mid-bot{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 80px;
}

.mid div{
    margin-right: 50px;
}



/* 영역 */

/* 인풋창 꾸미기 */
.inputSty{
    height: 45px;
    width: 250px;
    border-radius: 15px;
    display: flex;
    background-color: #FBFBFB;
    box-shadow: 2px 2px 5px rgba(69, 69, 69, 0.3);
}


.inputSty > input{
    width: 50%;
    border: none;
    background-color: #FBFBFB;
    padding-left: 15px;
}

.inputSty > select{
    width: 60%;
    padding-left: 15px;
    border: none;
    background-color: #FBFBFB;
}

.inputSty > input:focus{
    outline: none;
}

.inputSty > select:focus{
    outline: none;
}

.inputSty > p{
    margin-top: 12px;
    text-align: center;
}

.spanSty{
    display: inline-block;
    width: 80px;
    height: 100%;
    background-color: #FFDA77;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    padding: 14px 0;
}



.orange{
    background-color: #FFAB5E; 
}


#cal{
    display: inline-block;
    padding-right: 30px;
    margin-top: 13px;
    width: 45%;
    font-size: 13px;
    font-weight: bold;
}


.spanSty:nth-last-of-type(3){
    display: inline-block;
    width: 80px;
    height: 100%;
    background-color: #FFAB5E;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    padding: 14px 0;
}






/* functionNav */
.functionPage-nav{
    display: flex;
    margin-right: 370px;
    position: relative;
}

[id*='bmiNav']{
    position: absolute;
    right: 5px;
    bottom: -3px;
    border-top: 3px solid #FFDA77;
    border-left: 3px solid #FFDA77;
    border-right: 3px solid #FFDA77;
    width: 250px;
    height: 52.66px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: table-cell;
    border-collapse: collapse;
    background-color: white;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-size: 15px;
    z-index: -1;
}

[id*='bmrNav']{
    position: absolute;
    left: -6px;
    bottom: -3px;
    border-top: 3px solid #FFDA77;
    border-left: 3px solid #FFDA77;
    border-right: 3px solid #FFDA77;
    width: 250px;
    height: 52.66px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: table-cell;
    border-collapse: collapse;
    background-color: white;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-size: 15px;
}





