/* 메인 컨테이너 */
.container{
    display: flex;
    width: 1024px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.workout-content{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

/* 운동 통계 */
.workout-analysis .workout-analysis-select{
    margin: 5px 10px;
}
.workout-analysis .workout-analysis-select button{
    margin: 0px 3px;
}

/* 운동통계 파이차트 */
.piechart-analysis .doughnutChartLegend{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

/* FULL Calandar 디자인 (풀캘린더)  =============================================================== */
#calendar {     /* 전체 달력 크기 설정*/
    max-width: 800px;
    margin: 10px auto;
}

#calendar .fc-toolbar-title{  /* 달력 날짜 폰트크기 */
    font-size: 15px;
}
#calendar .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > .fc-toolbar-chunk{
    display: flex;
    align-items: center;
}

#calendar .fc-toolbar-title{  /* 달력 날짜 폰트크기 */
    font-size: 15px;
}

#calendar #external-events .fc-event {
    cursor: move;
    margin: 3px 0;
}

#calendar #calendar-container {
    position: relative;
    z-index: 1;
    margin: 0 auto 50px;
}


#calendar .calendar-inside-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.fc-daygrid-day-frame.fc-scrollgrid-sync-inner{
    max-height: 90px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.fc-scrollgrid-section-header {
    background-color: orange;
}

.fc-h-event{
    border: 1px solid rgb(253, 180, 43);
}

.calendar-inside-content > p:first-of-type{ /* 캘린더 각 일자별 운동이름 */
    width: 60px;
}

/* 도넛 차트 디자인 (CHARTJS)  =============================================================== */
.doughnutChart-container{
    position: relative;
}

.doughnutChart-container #doughnutChart{
    max-width: 300px !important;
    max-height: 300px !important;
}

.doughnutChart-container .doughnutChart-center{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
}

/* 라인 차트 디자인 (CHARTJS)  =============================================================== */
.lineChart-container{
    position: relative;
}

.lineChart-container #lineChart{
    height: 300px;
}