main{
    display: flex;
    width:1024px;
    justify-content: center;
}

#main-menu {
    margin-top: 70px;
    width: 70%;
}

#main-menu > ul {
    display: flex;
}

#main-menu > ul > li a {
    display: block;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    height: 80px;
    line-height: 80px;
    width: 120px;
    border-radius: 15px;
    background-color: #FBF6F0;
}

.tab-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
    margin-top: 20px;
}

.tab-content img{
background-color: #fbf6f0;
height: 130px;
border-radius: 15px;
width:200px;
}

.challenge-item {
    text-align: center;
}

.challenge-item span{
    display: block;
    margin-top:10px;
}


