<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dietInfoMapper">	
	
	<!--운동  -->
	<resultMap type="Workout" id="workout_rm">
	<id property="workoutNo" column="WORKOUT_NO" />
	<result property="workoutName" column="WORKOUT_NAME" />
	<result property="workoutType" column="WORKOUT_TYPE" />
	<result property="workoutClass" column="WORKOUT_CLASS" />
	<result property="workoutMet" column="WORKOUT_MET" />
	<result property="workoutCnt" column="WORKOUT_CNT" />
	</resultMap>

	<!--음식  -->
	<resultMap type="Food" id="food_rm">
	<id property="foodNo" column="Food_No" />
	<result property="foodName" column="FOOD_NAME" />
	<result property="foodType" column="FOOD_TYPE" />
	<result property="foodCal" column="FOOD_CAL" />
	<result property="foodWeight" column="FOOD_WEIGHT" />
	<result property="foodCnt" column="FOOD_CNT" />
		
		
	<result property="foodProtein" column="FOOD_PROTEIN" />
	<result property="foodFat" column="FOOD_FAT" />
	<result property="foodHydro" column="FOOD_HYDRO" />
	<result property="foodSugar" column="FOOD_SUGAR" />
	<result property="foodFiber" column="FOOD_FIBER" />
	<result property="foodSOD" column="FOOD_SOD" />
	<result property="foodCOL" column="FOOD_COL" />
	<result property="foodSATfat" column="FOOD_SAT_FAT" />
	<result property="foodTransFat" column="FOOD_TRANS_FAT" />
	<result property="foodManufacture" column="FOOD_MANUFACTURE" />
		
		
	</resultMap>
	
	
	<!-- 음식검색 -->
	
	<select id="searchFood" resultMap="food_rm">
	SELECT FOOD_NO, FOOD_NAME, FOOD_CAL, FOOD_TYPE, FOOD_WEIGHT, FOOD_CNT
	FROM FOOD
	WHERE FOOD_NAME LIKE '%${query}%'
	ORDER BY FOOD_NAME DESC
	</select>
	
	<!-- 음식세부내용 -->
	
	<select id="foodDetail" resultMap="food_rm">
	SELECT FOOD_NO, FOOD_NAME, FOOD_CAL, FOOD_TYPE, FOOD_WEIGHT, FOOD_CNT, FOOD_PROTEIN,
		   FOOD_FAT, FOOD_HYDRO, FOOD_SUGAR, FOOD_FIBER, FOOD_SOD, 
		   FOOD_COL, FOOD_SAT_FAT, FOOD_TRANS_FAT, FOOD_MANUFACTURE
	FROM FOOD
	WHERE FOOD_NO = ${foodNo}
	</select>
	
	<!-- 음식 검색수 -->
    <update id="updateFoodCount">
	UPDATE "FOOD"
	SET FOOD_CNT = FOOD_CNT + 1
	WHERE FOOD_NO = #{foodNo}
	</update>
	
	
	<!--운동검색  -->
	<select id="searchWorkout" resultMap="workout_rm">
	SELECT WORKOUT_NO, WORKOUT_NAME, WORKOUT_MET, WORKOUT_CNT, WORKOUT_CLASS
	FROM WORKOUT
	WHERE WORKOUT_NAME LIKE '%${query}%'
	ORDER BY WORKOUT_NAME DESC
	</select>
	
	<!--운동세부검색  -->
	<select id="workoutDetail" resultMap="workout_rm">
	SELECT WORKOUT_NO, WORKOUT_NAME, WORKOUT_MET, WORKOUT_CNT, WORKOUT_CLASS
	FROM WORKOUT
	WHERE WORKOUT_NO = #{workoutNo}
	</select>
	
	</mapper>
	
	