<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypageMapper">

	<!-- 보드 -->
	<resultMap type="Board" id="board_rm">
		<id property="boardNo" column="BOARD_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="boardType" column="BOARD_TYPE" />
		<result property="boardTypeName" column="TYPE_NAME" />
		<result property="challengeNo" column="CHALLENGE_NO" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardCnt" column="BOARD_CNT" />
		<result property="boardSt" column="BOARD_ST" />
		<result property="createDt" column="CREATE_DT" />
		<result property="updateDt" column="UPDATE_DT" />
		<result property="boardImg" column="BOARD_IMG" />
		<result property="userImg" column="USER_IMG" />
		<result property="userNickname" column="USER_NICKNAME" />
		<result property="likeCount" column="LIKE_COUNT" />

	</resultMap>

	<!-- 유저 -->
	<resultMap id="userRm" type="User">
		<id property="userNo" column="USER_NO" />
		<result property="userId" column="USER_ID" />
		<result property="userPw" column="USER_PW" />
		<result property="userEmail" column="USER_EMAIL" />
		<result property="userNickname" column="USER_NICKNAME" />
		<result property="userBirthDay" column="USER_BD" />
		<result property="userGender" column="USER_GENDER" />
		<result property="userAuthority" column="USER_AUTHORITY" />
		<result property="userImage" column="USER_IMG" />
		<result property="createDate" column="CREATE_DT" />
		<result property="deleteDate" column="DELETE_DT" />
		<result property="userProfileHeight" column="USER_PROFILE_HEIGHT" />
		<result property="userProfileWeight" column="USER_PROFILE_WEIGHT" />
	</resultMap>
	
	<!--  즐겨찾기 장소 -->
	<resultMap id="favoritePlaceRm" type="Place">
		<id property="placeApiId" column="FP_API_ID" />
		<result property="placeImg" column="PLACE_IMG" />
		<result property="userNo" column="USER_NO" />
		<result property="placeName" column="FP_NAME" />
		<result property="placeLatitude" column="FP_LATITUDE" />
		<result property="placeLongitude" column="FP_LONGITUDE" />
		<result property="placeAddress" column="FP_ADDRESS" />
		<result property="placePhone" column="FP_PHONE" />
		<result property="placeMajorCategory" column="FP_MAJOR_CATEGORY" />
		<result property="placeMinorCategory" column="FP_MINOR_CATEGORY" />
	</resultMap>

	<!-- 유저 운동 정보 -->
	<resultMap id="userWorkoutRm" type="UserWorkout">
		<id property="userWorkoutNo" column="USER_WORKOUT_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="workoutNo" column="WORKOUT_NO" />
		<result property="workoutName" column="WORKOUT_NAME" />
		<result property="analysisTypeNo" column="WORKOUT_AN_TYPE_NO" />
		<result property="analysisTypeName" column="WORKOUT_AN_TYPE_NAME" />
		<result property="userWeight" column="USER_WEIGHT" />
		<result property="workoutDate" column="WORKOUT_DATE" />
		<result property="workoutTime" column="WORKOUT_TIME" />
		<result property="workoutDistance" column="WORKOUT_DISTANCE" />
		<result property="workoutCal" column="WORKOUT_CAL" />
	</resultMap>


	<!-- ====================================== -->
	<!-- 게시글 목록 조회-->
	<select id="getAllBoardsByUser" resultMap="board_rm">
		SELECT
	    B.BOARD_NO, B.BOARD_TITLE, U.USER_NICKNAME, B.BOARD_CNT, B.BOARD_TYPE, T.TYPE_NAME,
			<![CDATA[
					CASE  
						WHEN SYSDATE - B.CREATE_DT < 1/24/60
						THEN FLOOR( (SYSDATE - B.CREATE_DT) * 24 * 60 * 60 ) || '초 전'
						WHEN SYSDATE - B.CREATE_DT < 1/24
						THEN FLOOR( (SYSDATE - B.CREATE_DT) * 24 * 60) || '분 전'
						WHEN SYSDATE - B.CREATE_DT < 1
						THEN FLOOR( (SYSDATE - B.CREATE_DT) * 24) || '시간 전'
						ELSE TO_CHAR(B.CREATE_DT, 'YYYY-MM-DD')
					END AS CREATE_DT,
					]]>
			(
				SELECT COUNT(*)
				FROM "LIKE" L
				WHERE L.LIKE_TARGET_NO = B.BOARD_NO) AS LIKE_COUNT
		FROM "BOARD" B
		JOIN "USER_INFO" U ON B.USER_NO = U.USER_NO
		JOIN "BOARD_TYPE" T ON B.BOARD_TYPE = T.TYPE_NO
		WHERE B.BOARD_ST = 'N'
				AND B.USER_NO = ${userNo}
		ORDER BY B.BOARD_NO DESC
	</select>

	<!-- 로그인 -->
	<select id="getAllUserInfo" resultMap="userRm">
		SELECT
		    USER_NO, USER_ID,
		    USER_EMAIL, USER_NICKNAME,USER_BD,
		    USER_GENDER,USER_AUTHORITY,
		    USER_IMG,
		    USER_AUTHORITY,USER_PROFILE_HEIGHT,USER_PROFILE_WEIGHT,
		    TO_CHAR(CREATE_DT, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') AS CREATE_DT,
		    TO_CHAR(DELETE_DT, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') AS DELETE_DT
		FROM "USER_INFO"
	</select>
	
	<update id="updateUserAuth">
		UPDATE USER_INFO SET USER_AUTHORITY = #{userAuthority}
		WHERE USER_NO = ${userNo}
	</update>
	
	<update id="updateUserInfo">
		UPDATE USER_INFO SET ${type} = #{data}
		WHERE USER_NO = ${userNo}
	</update>
	
	<update id="deleteUser">
		UPDATE USER_INFO SET DELETE_DT = SYSDATE
		WHERE USER_NO = ${userNo}
	</update>
	
	<select id="searchUserInfo" resultMap="userRm">
		SELECT
		    USER_NO, USER_ID,
		    USER_EMAIL, USER_NICKNAME,USER_BD,
		    USER_GENDER,USER_AUTHORITY,
		    USER_IMG,
		    USER_AUTHORITY,USER_PROFILE_HEIGHT,USER_PROFILE_WEIGHT,
		    TO_CHAR(CREATE_DT, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') AS CREATE_DT,
		    TO_CHAR(DELETE_DT, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') AS DELETE_DT
		FROM "USER_INFO"
		WHERE ${searchType} LIKE '%${searchParam}%'
	</select>

	<select id="getFavoriteplaces" resultMap="favoritePlaceRm">
		SELECT 
		    FP.FP_API_ID, 
		    FP.FP_NAME, 
		    PI.PLACE_IMG,
		    FP.FP_ADDRESS,
		    FP.FP_PHONE, 
		    FP.FP_MAJOR_CATEGORY, 
		    FP.FP_MINOR_CATEGORY  
		FROM FAVORITE_PLACES FP 
		JOIN PLACE_IMG PI ON (FP.FP_API_ID = PI.PLACE_API_ID)
		WHERE USER_NO = ${userNo}
	</select>
	
	<select id="getUserWorkouts" resultMap="userWorkoutRm">
		SELECT UW.USER_WORKOUT_NO,
		        UW.USER_NO,
		        UW.WORKOUT_NO,
		        UW.WORKOUT_TIME,
		        W.WORKOUT_NAME,
		        WAT.WORKOUT_AN_TYPE_NO,
		        WAT.WORKOUT_AN_TYPE_NAME,
		        UW.USER_WEIGHT,
		        UW.WORKOUT_DATE,
		        UW.WORKOUT_DISTANCE,
		        UW.WORKOUT_CAL
		FROM USER_WORKOUT UW
		JOIN WORKOUT W ON UW.WORKOUT_NO = W.WORKOUT_NO
		JOIN WORKOUT_AN_TYPE WAT ON W.WORKOUT_AN_TYPE_NO = WAT.WORKOUT_AN_TYPE_NO
		WHERE UW.USER_NO = ${userNo}
		ORDER BY UW.WORKOUT_DATE DESC
	</select>

</mapper>