<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<!-- <setting name="logImpl" value="STDOUT_LOGGING" /> -->  
	</settings>
	<!-- 별칭 작성 부분 -->
	<!-- VO클래스의 패키지명 + 클래스명 작성하는 것이 불편하기 때문에 짧은 별칭 부여 -->
	<typeAliases>
		<typeAlias type="com.kh.dd.model.dto.Place" alias="Place" />
		<typeAlias type="com.kh.dd.model.dto.PlaceImg" alias="PlaceImg" />
		<typeAlias type="com.kh.dd.model.dto.User" alias="User" />
		<typeAlias type="com.kh.dd.model.dto.ChatUser" alias="ChatUser" />
		<typeAlias type="com.kh.dd.model.dto.ChatRoom" alias="ChatRoom" />
		<typeAlias type="com.kh.dd.model.dto.ChatMessage" alias="ChatMessage" />
		<typeAlias type="com.kh.dd.model.dto.Board" alias="Board" />
		<typeAlias type="com.kh.dd.model.dto.UserWorkout" alias="UserWorkout" />
		<typeAlias type="com.kh.dd.model.dto.UserHistory" alias="UserHistory" />
		<typeAlias type="com.kh.dd.model.dto.Food" alias="Food" />
		<typeAlias type="com.kh.dd.model.dto.Reply" alias="Reply"/>
		<typeAlias type="com.kh.dd.model.dto.Workout" alias="Workout"/>
		
	</typeAliases>

	<!-- mapper 파일(SQL 작성되는파일) 위치 등록 부분 -->
	<mappers>
		<mapper resource="/mapper/placeMapper.xml" />
		<mapper resource="/mapper/chatMapper.xml" />
		<mapper resource="/mapper/userMapper.xml" />
		<mapper resource="/mapper/diary-mapper.xml" />
        <mapper resource="/mapper/mypageMapper.xml"/>
        <mapper resource="/mapper/reply-mapper.xml"/>
        <mapper resource="/mapper/dietInfo-mapper.xml"/>
        <mapper resource="/mapper/challenge-mapper.xml"/>
        
	</mappers>


</configuration>
